
    <div class="row p-3">
    
        <div class="col">
            <h5>buscar:</h5>
            <input type="text" class="form-control" placeholder="Buscar gifs..">
        </div>
    
    </div>

    <hr />

    <div class="row">

        <div class="col">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus laudantium quam suscipit, nam deserunt recusandae blanditiis. Delectus dolore ullam eaque minima veritatis porro quibusdam quo quod voluptas, sed consectetur eligendi?
        </div>
    </div>
   

